.car1 {
    max-width: 1044px; 
    background-color:blue;
    margin-right: auto;
    margin-left: auto;
    
}
#div1 img {
    
    max-width:1044px;
    max-height:600px;
    width: auto;
    height: auto;

   
}

#div1  {

    background-color:pink;

}




.car2 {
    max-width: 331px; 
    background-color:blue;
    margin-right: auto;
    margin-left: auto;
    
}


#div2 img {

    background-color:red;
    max-width:331px;
    max-height:290px;
    width: auto;
    height: auto;

    
}


#container {
    text-align:center;
}

#center {
    display: inline-block;
    margin:0 auto;

}

#right {
    float:right;

}

.grid{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 20px;
}


