<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="StyleSheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        </head>
        <body style="background-color: #030C21;">

          
        <nav class="navbar navbar-expand-lg navbar-dark "  style="background-color: #0029FF">
          <a class="navbar-brand" href="Index.html"><img src="/logovk.jpg" alt="" srcset="" height="45" width="45"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
    
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">PC</a>
                  <a class="dropdown-item" href="#">PS4</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Xbox One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Promoções</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >Suporte</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-danger" type="submit">Search</button>
            </form>
          </div>
        </nav>
    <table style="margin-left: 70px;">
      <tr>
      <th>
        <img id="python " src="../static/img/mario.jpg">

      </th>
      <th>
        <p style="margin-bottom: 300px; color: white;">
        osaidoasidoasifsoaifasofiaoifaoifoasfioafiasofiaofiaofiaoifioafioafio<br>
        osaidoasidoasifsoaifasofiaoifaoifoasfioafiasofiaofiaofiaoifioafioafio<br>
        osaidoasidoasifsoaifasofiaoifaoifoasfioafiasofiaofiaofiaoifioafioafio<br>
        osaidoasidoasifsoaifasofiaoifaoifoasfioafiasofiaofiaofiaoifioafioafio<br> 
        </p>
      </th>
      </tr>
    </table>
    <div style= "margin-left:70px;">
      <table style="width:100%">
        <tr>
          <th> <label style="color: rgb(156, 158, 160);" class="riscar" >$299,00</label> </th>
          <th><label style="color:rgb(255, 91, 91);">10% OFF</label></th>
          <th><button type="button" class="btn btn-primary"  style="margin-left: 573px; margin-top: 10px;"    ><u>Comprar</u></button>
          </th>
        </tr>
        </table>
       
        
        <h5 style="color: red;">R$269,10</h5> 
         
    </div>
</body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>