{% extends 'navbar.html' %}

{% block title %}  home {% endblock %}

{% block content %}

{% if session['name']%}
<div class="alert alert-danger" role="alert">
    <a>JA ESTA LOGADO!!!</a>
</div>


{% else %}
<table>
    <tr>
        <td>
<div class="row" style="margin-left: 150px;">
    <form action="/login" method="POST">
        <div class="form-group">
            <label style="color: white;" >Email:</label>
            <input type="text" class="form-control" name="email" style="width:290px; height:25px;">
        </div>
        <div class="form-group">
            <label style="color: white;">Senha</label>
            <input type="password" class="form-control" name="password" style="width:290px; height:25px;">
        </div>
        <div class="form-group" style="margin-left: 220px;">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>
</td>
<td>

<div class="row" style="margin-left: 200px; margin-top: 69px;" >
    <form action="/register" method="POST">
        <div class="form-group">
            <label style="color: white;"> Nome:</label>
            <input type="text" class="form-control" name="name" style="width:290px; height:25px;">
        </div>
        <div class="form-group">
            <label style="color: white;" >Email:</label>
            <input type="text" class="form-control" name="email" style="width:290px; height:25px;">
        </div>
        <div class="form-group">
            <label style="color: white;">Senha:</label>
            <input type="password" class="form-control" name="password" style="width:290px; height:25px;">
        </div>
        <div class="form-group" style="margin-left: 180px;">
            <button type="submit" class="btn btn-primary">Registrar-se</button>
        </div>
    </form>
</td>
</tr>
</table>


{% endif %}

{% if msg %}

<div class="alert alert-danger" role="alert">
    {{ msg }}
  </div>
{% endif %}


{% if msglg %}

<div class="alert alert-danger" role="alert">
    {{ msglg }}
  </div>
{% endif %}




{% endblock %}


